* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 0.5fr 3fr;
  height: 100vh;
}

/* ------------- HEADER, HÁ UM CSS DEDICADO SOMENTE A ELE ------------- */
header {
  grid-area: header;
}

/* ------------- ASIDE ------------- */
aside {
  grid-area: aside;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  gap: 20px;
  padding-left: 30px;
}

.assideOptions {
  display: flex;
  flex-flow: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

aside .bi {
  font-size: 1.5rem;
}

/* ------------- MAIN (HÁ UM CSS DEDICADO SOMENTE A ELE) ------------- */
main {
  grid-area: main;
  padding: 20px;
}

#recommendedDescription {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}
